---

---
<div id="cta" class="flex flex-col items-center justify-center relative">
    <a href="#missions" id="cta-inner" class="flex flex-col items-center justify-center text-teal-600 font-bold text-3xl relative">
        <p>Explore SpaceX</p>
        <img src="/down-arrow.svg" alt="" class="w-10 h-10 animate-[bounce_1.5s_infinite] inline-block mt-2" />
    </a>
</div>