---
interface Props{
    id: string
    img: string
    success: boolean
    name: string
    details: string | null
    minimal: boolean
}

const {success, name, img, id, minimal } = Astro.props
---

<a href={`/launch/${id}`} class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col">
    <picture class="flex justify-center p-4">
        <img class="mb-5 rounded-lg max-w-[14rem]" src={img ? img : "/Spacex-Circle-Logo.webp"} alt={`There is no patch for this mision.`}>
    </picture>
    {minimal ? (
        <header class="p-4 flex-grow">
            <h2 class="my-2 text-2xl font-bold tracking-tight text-white">{name}</h2>
            <div class="flex items-center gap-3 mb-4">
                <p class="">Launch status </p>
                <span class:list={[
                    "w-3 h-3 rounded-full animate-pulse inline-block",
                    {
                        "bg-green-500": success,
                        "bg-red-500": !success
                    }
                ]}></span>
            </div>        
        </header>) : null
    }
</a>